__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
best_model.keras/
best_production_model.keras/
archive.zip/
archive/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
